body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

html {
    margin: 10px;
}

.incidentPanel {
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#safetyResp {
    padding: 5px;
    display: none;
}

@media only screen
and (min-device-width: 320px) 
and (max-device-width: 480px) {
    
}

@media only screen
and (min-device-width: 500px) {
    
}